<div class="panel panel-default">
  <div class="panel-heading">Client side Pagination</div>
  <div class="panel-body">
    <form>
      <label>items by page</label>
      <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsByPage" >
    </form>
  </div>
  <table st-table="rowCollectionPage" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="firstName">first name</th>
      <th st-sort="lastName">last name</th>
      <th st-sort="birthDate">birth date</th>
      <th st-sort="balance">balance</th>
      <th>email</th>
    </tr>
    <tr>
      <th>
        <input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
      </th>
      <th colspan="4">
        <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rowCollectionPage">
      <td>{{row.firstName | uppercase}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.birthDate | date}}</td>
      <td>{{row.balance | currency}}</td>
      <td><a ng-href="mailto:{{row.email}}">email</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<div class="panel-heading font-bold">Basic form</div>
<div class="panel-body">
  <form role="form">
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="checkbox">
      <label class="i-checks">
        <input type="checkbox" checked disabled><i></i> Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
  </form>
</div>