<div class="wrapper-md">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="label bg-danger pull-right m-t-xs">4 pendientes</span>
          Datos por recopilar
        </div>
        <table class="table table-striped m-b-none">
          <thead>
          <tr>
            <th>Progress</th>
            <th>Tarea</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="progress progress-sm progress-striped active m-t-xs m-b-none">
                <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="80%" style="width: 80%"></div>
              </div>
            </td>
            <td>Insertar Equipos</td>
          </tr>
          <tr>
            <td>
              <div class="progress progress-xs m-t-xs m-b-none">
                <div class="progress-bar bg-danger" data-toggle="tooltip" data-original-title="15%" style="width: 15%"></div>
              </div>
            </td>
            <td>Asignar competiciones</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Estadísticas</div>
        <table class="table table-striped m-b-none">
          <thead>
          <tr>
            <th style="width:60px;" class="text-center">Graph</th>
            <th>Item</th>
            <th style="width:70px;"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div ng-init="data1=[ 16,15,15,14,17,18,16,15,16 ]" ui-jq="sparkline" ui-options="{{data1}}, {type:'bar', height:19, barWidth:4, barSpacing:2, barColor:'{{app.color.success}}'}" class="sparkline inline">loading...</div>
            </td>
            <td>App downloads</td>
            <td class="text-success">
              <i class="fa fa-level-up"></i> 40%
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <div ng-init="data2=[ 60,30,10 ]" ui-jq="sparkline" ui-options="{{data2}}, {type:'pie', height:19, sliceColors:['{{app.color.info}}','#fff','{{app.color.warning}}']}" class="sparkline inline">loading...</div>
            </td>
            <td>Social connection</td>
            <td class="text-success">
              <i class="fa fa-level-up"></i> 20%
            </td>
          </tr>
          <tr>
            <td>
              <div ng-init="data3=[ 16,15,15,14,17,18,16,15,16 ]" ui-jq="sparkline" ui-options="{{data3}}, {type:'line', height:19, width:60, lineColor:'{{app.color.primary}}', fillColor:'#fff'}" class="sparkline inline">loading...</div>
            </td>
            <td>Revenue</td>
            <td class="text-warning">
              <i class="fa fa-level-down"></i> 5%
            </td>
          </tr>
          <tr>
            <td>
              <div ng-init="data4=[ 16,15,15,14,17,18,16,15,16 ]" ui-jq="sparkline" ui-options="{{data4}}, {type:'discrete', height:19, width:60, lineColor:'{{app.color.success}}'}" class="sparkline inline">loading...</div>
            </td>
            <td>Customer increase</td>
            <td class="text-danger">
              <i class="fa fa-level-down"></i> 20%
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Listado de Equipos</h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        Footable - make HTML tables on smaller devices look awesome
      </div>
      <div class="panel-body b-b b-light">
        Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
      </div>
      <div ng-app="app" ng-controller="TeamsCtrl">
        <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="5">
          <thead>
          <tr>
            <th data-toggle="true">
              ID
            </th>
            <th>
              Nombre
            </th>
            <th>
              Info
            </th>
            <th>
              Action
            </th>
          </tr>
          </thead>
          <tbody>
          {{ getTeams() }}
          <tr ng-repeat="team in teamsCollection">
            <td>team.ID</td>
            <td><a href>team.name</a></td>
            <td>team.category</td>
            <td data-value="1"><span class="label bg-success" title="Active">Active</span></td>
          </tr>
          </tbody>
          <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="5" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-heading font-bold">Basic form</div>
  <div class="panel-body" ng-app="app" ng-controller="TeamsCtrl">
    <form role="form">
      <div class="form-group">
        <input type="id" class="form-control" placeholder="ID" ng-model="ID">
      </div>
      <div class="form-group">
        <label>Nombre</label>
        <input type="name" class="form-control" placeholder="Nombre" ng-model="name">
      </div>
      <div class="form-group">
        <label>Categoria</label>
        <input type="category" class="form-control" placeholder="Categoria" ng-model="category">
      </div>
      <button type="submit" class="btn btn-sm btn-primary" ng-click="addTeam()">Añadir</button>
    </form>
  </div>